body {
    background-color: #a8a8a8;
}

.main {
    width: 100%;
    height: calc(100vh - 110px);
    display: grid;
    grid-template-columns: 360px calc(100vw - 360px);
}

.grip {
    font-family: 'AppleSDGothicNeo';
    display: flex;
    justify-content: start;
    padding-left: 46px;
    align-items: center;
    width: 80%;
    height: 90px;
    font-size: 25px;
}

.sub {
    height: calc(100vh - 100px);
}

.issue {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}

.log {
    width: 277px;
    height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
}

.filter {
    display: block;
    width: 277px;
    height: 14px;
    top: -10px;
    content:"";
    position: absolute;
    background-color: rgba(86,86,86,0.1);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.chatting {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
}

.chat {
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: start;
    width: 267px;
}

.interface {
    position: absolute;
    bottom: 10px;
    color: white;
}

p {
    background-color: transparent;
    margin: 2px 0 0 0;
    padding: 0px 0 3px 8px;
    transition: all 0.5 ease;
    height: 18px;
    font-size: 14px;
}

.logId {
    color: color(srgb 0.7295 0.7293 0.7381);
}

.timer {
    width: 50px;
    height: 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 7px 0 0 0;
    background-color: transparent;
    padding: 2px 8px 0 0;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 277px;
    color: inherit;
}

.textInput {
    position: inherit;
    width: 190px;
    height: 25px;
    padding-left: 10px;
    border: 2px solid white;
    border-radius: 15px 0 0 15px;
    border-width: 1px 0 1px 1px;
    background-color: transparent;
    color: inherit;
}

.textInput:focus {
    outline: none;
}

.buttonInput {
    position: inherit;
    width: 41px;
    height: 29px;
    background-color: transparent;
    border-radius: 0 15px 15px 0;
    border: 2px solid white;
    border-width: 1px 1px 1px 0;
    color: inherit;
    border-left: none;
    padding: 0px 5px 0 0;
    align-items: center;
    cursor: pointer;
}

.questionBox {
    width: 300px;
    padding: 0 5px 0 5px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease;
    max-height: 188px;
    margin: 0 0 8px 0;
    cursor: default;
}

.title {
    position: relative;
    display: grid;
    grid-template-columns: 21px 250px 22px;
    background-color: color(display-p3 0.9304 0.4167 0.3686);
    margin-bottom: 5px;
    padding: 2px 5px;
    z-index: 4;
    border-radius: 4px;
}

.text, .popup {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Q, .text {
    cursor: default;
    margin: 2px 0 0 0;
}

.popup {
    cursor: pointer;
    transition: all 0.5s ease;
    transform: rotate(0deg);
}

.questionList {
    transition: all 0.4s ease;
    max-height: 154px;
    overflow-y: scroll;
}

.question {
    display: grid;
    grid-template-columns: 86% 14%;
    grid-template-rows: 14px 20px;
    font-size: 14px;
    margin: 2px 2px;
    padding: 2px 5px 0 5px;
    border-radius: 5px;
    background-color: #f1f3f5;
}
.id {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 11px;
    padding-bottom: 5px;
    color: #495058;
}
.content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.time {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 11px;
    color: #495058;
    justify-content: end;
}

.animation-init {
    opacity: 0;
    height: 0px;
}
  
.animation-fade {
    opacity: 1;
    height: 73px;
    transition: all 0.5s ease;
}

.animation-init-tag {
    opacity: 0;
    height: 0px;
}
  
.animation-fade-tag {
    opacity: 1;
    height: 20px;
    transition: all 0.5s ease;
}